@charset "UTF-8";



.container{
	background-color:#FFFFFF;
	width:80%;
	margin:auto;
	margin-top:-5%;
	padding:2%;
}	

#header{
	width:100%;
	height:250px;
	background-image:url('/img/campinglist/camping06.jpg');
	margin:0%;	
}

.box {
	width:100%;
}

.boxcon {
	width:100%;
	margin-bottom: 4%;
}


#onebox {
	height:600px;
}


#slidebox {
	width: 60%;
	float:left;
	padding: 0 1% 0 1%;
	overflow:hidden;
}

.slick-sample{width: 100%; height: 450px;}  
.slick-sample .slick-list{height: 100%;}

.slick-slide {
	display: none;
    float: left;
    height: 100%;
    min-height: 1px;
    overflow: hidden;
}


.slick-slide img {
    width:100%;
    height:100%;	
    object-fit:cover;
}



#infobox {
	float:left;
	width: 40%;
	height: 420px;
	margin: 0%;
	padding: 0 1% 0 1%;
}

#tablebox{
	width:100%;
	height:85%;
	margin-bottom: 5%;
}





#one {
  	margin:auto;
}

#contents{
      width: 1200px;
      margin: 0 auto;
    }
    section{
      margin: 40px 0;
    }
    .slider-for{
      width: 200px;
      height: 200px;
      line-height: 200px;
      margin: 0 auto;
      padding: 0;
      text-align: center;
      background: white;
      font-size: 20px;

    }
    
    .slider-nav li{
      margin: 0 2px;
      background: beige;
      border: 1px solid #000;
      text-align: center;
      box-sizing: border-box;
    }
    
#btnbox{
    height: 50px;
    width: 90%;
    margin: auto;
    padding-left: 50%;
}



#wishbox_icon {
	float:left;
	margin:auto;
}

#wishbtn {
	height: 60px;
	width: 200px;
}

.likeicon{
	cursor:Pointer;
    height:50px;
    width:50px;
}

#reservebox {
    margin: 0;
    width: 50%;
    height: 100%;
    float: left;
}



#twotop ul #camptab li a {
    color: #fff;
    line-height: 53px;
    font-size: 15px;
    text-decoration: none;
    display: block;
}

#camptab ul {
    list-style:none;
    margin:0;
    padding:0;
}

#camptab li {
	float:left;
	width:33%;
	font-size:22px;
	text-align:center;
	background-color: #EAEAEA;
	margin: 0 1px;
	padding: 1% 0;
}

#camptab li:visited {
     background-color: white;
     cursor:pointer;
}

#twotop{
	height:60px;
}

#threetop{
	height:1300px;
}

#camp_guide_box{
	height:500px;
}

#lineintro {
	width:100%;
	height:40px;
	font-size: 20px;
	display: flex;
    align-items: center;
    margin: 1%;	
}

#themaEnvrnClbox {
	font-size: 15px;
	color:gray;	
	margin: 1%;	
}

#themaEnvrnClName {
	float: left;
	margin:0 1%;
}

#intro {
	margin: 1%;
	padding: 2%;
	background-color:#F6F6F6;
}

#introbox {
	height:250px;
	width: 100%;
	border-bottom:2px solid black;	
}

#sbrsClbox {
	margin:2% 0;
}

#etcbox {
	height:500px;
	width: 100%;
	margin: 2% 0;
	border-bottom:2px solid black;	
}

#sbrcClName, #Coname, #sbrcEtcName, #brazierClName, #animalCmgClName {
	font-size: 20px;
	font:bold;
	margin:1% 0;	
}

#sbrcClCon {
	margin: 1%;
	padding: 2%;
	height: 150px;
	background-color:#F6F6F6;
}


html {
    font-family: "Noto Sans KR", sans-serif;
}

/* 노말라이즈 */
body, ul, li, h1, h2, h3, h4, h5, p, figure {
    margin:0;
    padding:0;
    list-style:none;
}

a {
    color:inherit;
    text-decoration:none;
}

/* 라이브러리 */
.con {
    margin:0 auto;
}

.img-box > img {
    width:100%;
    display:block;
 	object-fit:cover;
}


.row::after {
    content:"";
    display:block;
    clear:both;
}

.cell {
    float:left;
    box-sizing:border-box;
}

.cell-right {
    float:right;
    box-sizing:border-box;
}

.margin-0-auto {
    margin:0 auto;
}

.block {
    display:block;
}

.inline-block {
    display:inline-block;
}

.text-align-center {
    text-align:center;
}

.line-height-0-ch-only {
    line-height:0;
}

.line-height-0-ch-only > * {
    line-height:normal;
}

.relative {
    position:relative;
}

.absolute-left {
    position:absolute;
    left:0;
}

.absolute-right {
    position:absolute;
    right:0;
}

.absolute-middle {
    position:absolute;
    top:50%;
    transform:translateY(-50%);
}

.table {
    display:table;
}

.table-cell {
    display:table-cell;
}

input, button, select, fieldset {
    -webkit-border-radius: 0;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border:0;
    background-color:transparent;
}

fieldset {
    padding:0;
    margin:0;
}

.blind, legend {
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    font-size: 12px;
    clip: rect(1px, 1px, 1px, 1px);
}

button {
    cursor:pointer;
    padding:0;
    font-size:inherit;
}

/* 커스텀 */
.con {
    max-width:1440px;
}

.con-min-width {
    min-width:320px;
}

html {
    overflow-x:hidden;
}


