@charset "UTF-8";

    html,body{
        background-image: url('http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100%;
        font-family: 'Numans', sans-serif;
        background-color: white;
    }
    #box{
        height: 300px;
        width: 500px;
        padding-top: 150px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        
        }
    #boxText{
        line-height: 150px;
        color: chartreuse;
        padding-top: 50px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.507);
    }
    #boxBtn{
        background-color: rgba(0, 0, 0, 0.507);
        height: 150px;
    }