<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Admin">	
	<insert id="campinsert">
		insert into camp_info values (#{contentId},#{firstImageUrl, jdbcType = VARCHAR }, #{facltNm, jdbcType = VARCHAR },#{lineIntro, jdbcType = VARCHAR },#{resveUrl, jdbcType = VARCHAR },#{homepage, jdbcType = VARCHAR },#{addr1, jdbcType = VARCHAR },#{addr2, jdbcType = VARCHAR },
											#{tel, jdbcType = VARCHAR },#{resveCl, jdbcType = VARCHAR },#{lctCl, jdbcType = VARCHAR },#{induty, jdbcType = VARCHAR },#{operPdCl, jdbcType = VARCHAR },#{operDeCl, jdbcType = VARCHAR },#{posblFcltyCl, jdbcType = VARCHAR },
											#{intro, jdbcType = VARCHAR },#{gnrlSiteCo},#{autoSiteCo},#{glampSiteCo},#{caravSiteCo},#{indvdlCaravSiteCo},#{sbrsEtc, jdbcType = VARCHAR },
											#{sbrsCl, jdbcType = VARCHAR },#{animalCmgCl, jdbcType = VARCHAR },#{brazierCl, jdbcType = VARCHAR },#{mapX},#{mapY}) 
	</insert>
	
	
	
	
	<select id="getRecordCount" resultType="int">
		
		select count(*)from camp_mem

	</select> 
	
	<select id="getRecordCount2" resultType="int">
		
		select count(*) from camp_mem where ${category} like '%${keyword}%'

	</select> 
	
	
	
	<select id="getPageList" resultType="kh.spring.dto.MemberDTO">
		
		select * from (select row_number() over(order by cm_no asc) rnum, cm_no, cm_id, cm_pw, cm_name, cm_email, cm_phone, cm_zipcode, cm_address1, cm_address2 from camp_mem) where rnum between #{startNum} and #{endNum}

																																	
	</select> 
	
	<select id="getPageList2" resultType="kh.spring.dto.MemberDTO">
		
		select * from (select row_number() over(order by cm_no asc) rnum, cm_no, cm_id, cm_pw, cm_name, cm_email, cm_phone, cm_zipcode, cm_address1, cm_address2 from camp_mem where ${category} like '%${keyword}%') where rnum between #{startNum} and #{endNum}

																																	
	</select>
	
	
</mapper> 