<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Camp_info">

	<select resultType="kh.spring.dto.Camp_infoDTO" id="listAll">
		select * from camp_info 
		<include refid="search"></include>
	</select>
	
	<sql id="search">
		<choose>
			<when test="searchOption ==  'all'">
				where facltNm like '%'||#{keyword}||'%'
				or lctCl like '%'||#{keyword}||'%'
				or addr1 like '%'||#{keyword}||'%'
			</when>
			<otherwise>
				where ${searchOption} like '%'||#{keyword}||'%'
			</otherwise>
		</choose>
	</sql>
	
	
	<select resultType="kh.spring.dto.Camp_infoDTO" id="detail">
		select * from camp_info where contentId=${value} 
	</select>
	
	<select resultType="kh.spring.dto.Camp_photoDTO" id="detailimage">
		select * from camp_photo where contentId=${value} 
	</select>	
	
	<select resultType="kh.spring.dto.Camp_wishlistDTO" id="selectwish">
		select * from camp_wishlist where contentId=#{contentId} and cm_id=#{cm_id, jdbcType = VARCHAR } 
	</select>
		
	<insert id="wishinsert">
		insert into camp_wishlist values (wish_seq.nextval,#{contentId},#{cm_id},#{contents}) 
	</insert>

	<delete id="wishdelete">
		delete from camp_wishlist where wish_seq=#{wish_seq}
	</delete>
	
	<select id="selectnum" resultType="kh.spring.dto.Camp_infoDTO">
		select * from
				(select row_number() over(order by contentId desc) rnum, contentId, facltNm, firstImageUrl   from camp_info)
		 where rnum between #{startNum} and #{endNum}
<!-- 		select * from camp_reproduct where rep_seq between #{startNum} and #{endNum} -->
	</select>
	

</mapper>