<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Cart">
	<insert id="insert"> <!-- 상품등록 --> 
		insert into camp_cart(c_seq, camp_id,p_seq,c_qty) values
		(c_seq.nextval, #{camp_id}, #{p_seq},#{c_qty})
	</insert>
	
	<select id="list" resultType="kh.spring.dto.CartDTO">
		select c.c_seq as c_seq, c.camp_id as camp_id, p.p_seq as p_seq, p.p_name as p_name, c.c_qty, p.p_price as p_price,
        (p_price * c_qty)c_price
		from camp_mem m, camp_products p, camp_cart c 
		where m.cm_id = c.camp_id and p.p_seq = c.p_seq and c.camp_id=#{camp_id} order by c.c_seq
	</select>
	
	<select id="sumMoney" resultType="int">
		select NVL(SUM(p_price * c_qty),0)c_price 
		from camp_cart c,camp_products p 
		where c.p_seq=p.p_seq and c.camp_id = #{camp_id}
	
	</select>
	
	<delete id="delete"> <!-- 장바구니 삭제 -->
		delete from camp_cart where c_seq=#{c_seq}
	</delete>
	
	<update id="modify"> <!-- 장바구니 수정 -->
		update camp_cart set c_qty=#{c_qty} where camp_id=#{camp_id} and p_seq=#{p_seq}
	</update>
	
	<select id="count" resultType="int"> <!-- 장바구니 동일 상품 확인 --> 
		select count(*) from camp_cart where camp_id=#{camp_id} and p_seq=#{p_seq}
	</select>
	
	<update id="update"> <!-- 장바구니 상품 수량 변경 --> 
		update camp_cart set c_qty=c_qty+#{c_qty} where camp_id=#{camp_id} and p_seq=#{p_seq}
	</update>
	
	

</mapper>