<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ReWishList">

	<insert id="insert">
		insert into camp_rewishlist values(rew_id_seq.nextval,#{rem_id},${rep_id})
	</insert>
	<select id="Count" resultType="int">
		select count(*) from camp_rewishlist where rep_id = ${value}
	</select>
	<select id="exist" resultType="int">
		select count(*) from camp_rewishlist where rep_id = ${rep_id} and rem_id = #{rem_id} 
	</select>
	<delete id="Cancel">
		delete from camp_rewishlist where rep_id = ${value}
	</delete>
	
	<!-- 사용자,myJG 페이지 -->
	<select id="myWishList" resultType="kh.spring.dto.ReWishListDTO">
		select * from 
(select row_number() over(order by rep_id desc) rnum,rew_id,rem_id,rep_id from camp_rewishlist where rem_id = #{rem_id}) 
where rnum between #{startNum} and #{endNum}
	</select>
	<select id="myWishCount" resultType="int">
		select count(*) from camp_rewishlist where rem_id = #{value}
	</select>
	
	
</mapper>